# Mac OSx
.*.swp
._*
.DS_Store

# Code versioner
.hg
.lock-wscript
.svn
.wafpickle-*
CVS

# Android generated
bin
gen
build
.metadata
.gradle
.bin
.lock

# Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*
